{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "useTabs": false,
    "jsxBracketSameLine": false, 
    "parser": "babel",   
    "rcVerbose": true,
    "bracketSpacing": true,
    "printWidth": 80
}
